body{
    background-color: #ff0000;
    font-size: 30px;
}
h1{
    font-size: 100px;
    text-align: center;
    color: white;
    text-shadow:3px 3px black;
}
.button-class {
    background-color: #0004ff;
    color: white;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;/*safari*/
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid black;
}
.pokemon-list {
    list-style-type: none;
}
.navbar-brand{
    font-size: 80px;
}
ul.list-group{
    display: grid; grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
}
@media all and (max-width: 670px) {
    ul.list-group{
        grid-template-columns: 1fr;
    }
}
@media all and (min-width: 680px) and (max-width: 960px){
    ul.list-group{
        grid-template-columns: 1fr 1fr;
    }
}
@media all (max-width: 960px) {
    ul.list-group{
        grid-gap: 10px;
        }
    }
